body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding-top: 50px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 120px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

h1 {
  color: #333;
}
